.center {
    text-align: center;
    /* border: 3px solid green; */
    width: 60%;
    margin: auto;
    padding: 4% 0%;
    background-color: #003152;
  }

  .center p{
      color: beige;
      font-size: 18px;
  }

  .entry{
      font-size: large;
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Source Serif 4', sans-serif;
  }